:host {
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 16px;

  width: 100vw;
  height: 48px;
  color: #fff;
  background-color: #D30A40;
  margin-bottom: 24px;

  h2 {
    margin: 24px 0;
  }
}

.pokedex__pokemon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;

  .pokedex__pokemon-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 240px;
    height: 320px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    .pokedex__pokemon-image {
      width: 200px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f1f1f1;

      img {
        max-width: 80%;
        max-height: 80%;
      }
    }

    .pokedex__pokemon-info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      font-weight: bold;
      width: 100%;
      margin: 8px 0;

      .types {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;

        border-radius: 5px;
        line-height: 110%;
        width: 120px;
        height: 18px;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

.pokedex__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 24px;

  &-amount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
    p { margin: 0 }
  }

  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;

    button { cursor: pointer }
  }

  &-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 180px;
    p { margin: 0 8px }
  }
}
