.pokedex__pokemon-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  .pokedex__pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.pokedex__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
